{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Time</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td scope="row">{{stock["symbol"].upper()}}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>${{ "{:,.2f}".format(stock["price"]) }}</td>
                    <td>{{ stock["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}