{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <th scope="row">{{stock["symbol"].upper()}}</th>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>${{ stock.price }}</td>
                    <td>${{ stock.shares * stock.price }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th scope="row" colspan="4">CASH</th>
                <td>${{ user["cash"] }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}