{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td scope="row">{{stock["symbol"].upper()}}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>${{ "{:,.2f}".format(stock.price) }}</td>
                    <td>${{ "{:,.2f}".format(stock.shares * stock.price) }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td scope="row" colspan="4">CASH</td>
                <td>${{ "{:,.2f}".format(user["cash"]) }}</td>
            </tr>
            <tr>
                <td scope="row" colspan="4"></td>
                <td><strong>${{ "{:,.2f}".format(total_value) }}</strong></td>
            </tr>
        </tbody>
    </table>

{% endblock %}